.card {
position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
}
.card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}
.flipped .front{
    transform: rotateY(0deg);
    transition-delay: 0.2s ;
}
.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s ;
}    
.flipped .back{
    transform: rotateY(90deg);
    transition-delay: 0s ;
}
.button_play{
    padding: 10px 40px;
    background-color: rgb(11, 196, 226);
    border: none;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 30px;
}
.button_play:hover{
    opacity: 0.9;

}